.social-links{
  gap: 0.5rem;
  padding: 0.5rem;
  list-style: none;
  background-color: #1c1c1c;
  border-radius: 5rem;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

#email{
  gap: 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}