* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #f0f0f0;
  font-family: "Lexend Exa", serif;
}

html{
  background-color: #1c1c1c;
}

header{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

header, section{
  background-color: #0f0f0f;
  margin: 0.8rem;
  border-radius: 0.8rem;
}

section{
  padding: 0.3rem;
}

h2, h1{
  text-align: center;
}

a{
  text-decoration: none;
}

.icon{
  font-size: 1.4rem;
}

.icon, a{
  text-align: center;
  color: #f0f0f0;
  padding:  0.5rem;
  border-radius: 2rem;
}

.icon:hover, a:hover{
  color: #383838;
  background-color: #b8b8b8;
}

button{
  font-family: "Lexend Exa", serif;
  background-color: #0f0f0f;
  color: #f0f0f0;
  border: none;
  border-radius: 2rem;
  padding: 0.5rem;
}

button:hover{
  background-color: #383838;
}

button:active{
  background-color: #b8b8b8;
  color: #0f0f0f;
}

img{
  width: 80%;
  border-radius: 2rem;
}

.icon-and-label{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
  font-size: 0.8rem;
}

div{
  justify-items: center;
}